[user]
	email = chalupa.petr93@gmail.com
	name = pchalupa
	signingkey = 0FFC72E215923C33
[commit]
	gpgsign = true
[core]
	editor = nano
[init]
	defaultBranch = main
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[alias]
	a = add	
	c = checkout
	cm = commit
	cp = cherry-pick
	m = merge
	ps = push
	pl = pull
	s = status
	l = log
	w = worktree
[pull]
	ff = only
